<p>transfer-fund works!</p>
div class="container">
    <h1>Withdraw your Funds</h1>
    <form #userForm="ngForm">
   
        <div class="row">
      <div class="col-25">
        <label for="id"> senders Id:</label>
      </div>
      <div class="col-75">
        <input type="number" [(ngModel)]="fromId" #idRef="ngModel" name="eid" id="eid" min=0
          title="Enter positve id value" required>
        <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
          <p *ngIf="idRef.errors?.['required']" class="text-danger">Id is required, cant be balnk.</p>
          <p *ngIf="idRef.errors?.['min']" class="text-danger">Id must be positve.</p>
        </div>
      </div>
    </div> 

    <div class="row">
        <div class="col-25">
          <label for="id"> Receivers Id:</label>
        </div>
        <div class="col-75">
          <input type="number" [(ngModel)]="toId" #idRef="ngModel" name="eid" id="eid" min=0
            title="Enter positve id value" required>
          <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
            <p *ngIf="idRef.errors?.['required']" class="text-danger">Id is required, cant be balnk.</p>
            <p *ngIf="idRef.errors?.['min']" class="text-danger">Id must be positve.</p>
          </div>
        </div>
      </div> 



<!-- 
    <div class="row">
        <div class="col-25">
          <label for="ename">Name:</label>
  
        </div>
        <div class="col-75">
          <input type="text" [(ngModel)]="employee.name" #nameRef="ngModel" name="ename" id="ename"
            pattern="[A-Za-z ]{3,}" title="Only chars are allowed,Min 3 char required" required>
          <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
            <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be balnk.</p>
            <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Name must have at least 3 chars, only chars are
              allowed.</p>
          </div>
        </div>
  
      </div> -->
  
 <div class="row">
  
        <div class="col-25">
          <label for="AmountId">Amount to be Transferred:</label>
        </div>
  
        <div class="col-75">
          <input type="number" [(ngModel)]="balance" #AmountRef="ngModel" name="Amount" id="AmountId" min=0
            required>
  
          <div *ngIf="AmountRef.invalid && (AmountRef.touched || AmountRef.dirty)">
            <p *ngIf="AmountRef.errors?.['required']" class="text-danger">Amount is required, cant be balnk.</p>
            <p *ngIf="AmountRef.errors?.['min']" class="text-danger">Amount must be positive.</p>
  
          </div>
        </div>
  
      </div>
  
      <div class="row">
        <input type="submit" (click)=" tranferFunds(fromId,toId,balance)" [disabled]="!userForm.valid" value="Submit">
      </div>
    </form>
    <div *ngIf="msg" class="alert alert-success" >
        <p class="">{{msg}}</p>
    </div>
    <div *ngIf="errormsg" class="alert alert-danger">
        <p>{{errormsg}}</p> 
    </div>
     
